/*
RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
COMMON
*/


.container{
    max-width: 900px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    height: 300px;
    width: 700px;
    position: relative;
}

.prev, .next{
    position: absolute;
    background-color: lightgray;
    right: 50%;
    z-index: 5;
    cursor: pointer;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}

.prev{
    top: 20px;
}

.next{
    bottom: 20px;
}

.item{
    height: 100%;
    display: none;
}

.show{
    display: block;
}

.item img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}